@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

body{
  background-color: thistle;
}

h1{
  font-size: 60px;
}

#game-board{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 950px;
  margin: 0 auto;
}

.flip-container{
  margin: 5px;
  transform-style: preserve-3d;
  /* transform: rotateY(180deg); */
  transition: transform 0.8s;
}

/* .flip-container:active {
  transform: scale(.97);
  transition: transform .9s;
  transform: rotateY(180deg);
} */
.flipped {
  transform: scale(.97) rotateY(360deg);
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.front-face,
.back-face {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid deeppink;
    background-color: mediumslateblue;
    backface-visibility: hidden;
}

